.btn-sm, .btn-group-sm > .btn {
    font-size: 0.675rem;
}
.with-modal {
    position: relative;
    padding: 5px;
}

.toggler.btn {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 12px;
    height: 14px;
    width: 14px;
    display: block;
    line-height: 10px;
    padding: 0;
}
.close-button {
    position: absolute;
    top: 15px;
    right: 25px;
}
.save-button{
    position: absolute;
    bottom: 15px;
    right: 25px;
}

.form-control.width-sm {
    width: 100px;
}
input.form-check-input {
    height: 18px;
    width: 18px;
}
.modal-content-custom{
    position: relative;
    max-height: 100%;
    overflow: auto;
}
