table.table td {
    text-align: center;
    vertical-align: middle;
}
table.table th {
    text-align: left;
}
.form-check{
    padding-left: 0;
}
input.form-check-input {
    position: static;
    margin: 0;
}
